---
layout: default
title: Useful Links
description: blog
---

<div id="blog" class="row">

  {% for post in site.posts %}
  <div class="col-lg-3 col-md-4 col-xs-6">

    <div class="postContainer">

      <h3 class="postTitle">{{ post.title }}</h3>
      <span class="postDate">{{ post.date | date_to_long_string }}</span>
      {{ post.excerpt }}
      <a class="postButton" href="{{ post.url }}"><button class="btn btn-danger" type="button" role="button" name="button">View More</button></a>

    </div>

  </div>
  {% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

</div>
