/*
  -----
  Colours
  -----*/

$black:        #000 !default
$gray:         lighten($black, 33.5%) !default
$gray-light:   lighten($black, 46.7%) !default
$gray-lighter: lighten($black, 93.5%) !default
