/*
  -----
  Colours
  -----*/
$white:        #fff !default
$black:        #000 !default
$gray:         lighten($black, 33.5%) !default
$gray-light:   lighten($black, 46.7%) !default
$gray-lighter: lighten($black, 93.5%) !default

/*
  -----
  Fonts
  -----*/

  $font-base:     14px !default
  $font-lg:       ceil(($font-size-base * 1.25)) !default
  $font-sm:       ceil(($font-size-base * 0.85)) !default

  $h1:            floor(($font-size-base * 2.6)) !default
  $h2:            floor(($font-size-base * 2.15)) !default
  $h3:            ceil(($font-size-base * 1.7)) !default
  $h4:            ceil(($font-size-base * 1.25)) !default
  $h5:            $font-size-base !default
  $h6:            ceil(($font-size-base * 0.85)) !default
