/*
  -----
  Colours
  -----*/
$white:        #fff !default
$black:        #000 !default
$gray:         lighten($black, 33.5%) !default
$gray-light:   lighten($black, 46.7%) !default
$gray-lighter: lighten($black, 93.5%) !default
$nav-gray:     #101010 !default
$text-gray:    #9d9d9d !default

/*
  -----
  Fonts
  -----*/
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-base:     16px !default
$font-lg:       ceil(($font-base * 1.25)) !default
$font-sm:       ceil(($font-base * 0.85)) !default

$h1:            floor(($font-base * 2.6)) !default
$h2:            floor(($font-base * 2.15)) !default
$h3:            ceil(($font-base * 1.7)) !default
$h4:            ceil(($font-base * 1.25)) !default
$h5:            $font-base !default
$h6:            ceil(($font-base * 0.85)) !default
