<ul class="nav navbar-nav">
  <li {% if page.url == "/" %}class="active"{% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      Practise Code
      <span class="caret"></span>
    </a>
    {% include submenu.html %}
  </li>
  <li {% if page.url == "/blog.html" or page.path contains '_posts' %}class="active"{% endif %}><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
</ul>
