footer.footer.container-fluid
  .container: .row: .col-xs-12
    .contact
      p 
        | Your Name is 
        br 
        | What You Are 
        br
        | you@example.com 
        | ahhhhh!
      
    .contact
      p: a(href="https://github.com/yourusername") github.com/yourusername
      p: a(href="https://twitter.com/yourusername") twitter.com/yourusername
          
  script(src="{{site.baseurl}}/assets/bower_components/jquery/dist/jquery.min.js")
  script(src="{{site.baseurl}}/assets/bower_components/jquery-migrate/jquery-migrate.min.js")
  script(src="{{site.baseurl}}/assets/js/bootstrap.min.js")
  script(src="{{site.baseurl}}/assets/js/main.js")
