header#header.container-fluid
  .container
  
    .jumbotron
      h1 Learning the web!
      p.lead ...because everybody needs a place to learn.
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
          
            span.sr-only Toggle navigation
            - var x = 3;
            - for (var i=1; i<=x; i++){
              span.icon-bar
            - }
            
        #navbar.navbar-collapse.collapse
          {% include nav.html %}
