header#header.container-fluid
  .container
  
    .jumbotron
      h1 {{ page.title }}
      p.lead
        {% if page.url == "/blog.html" %}
        |...for when you need help.
        {% else %}
        |...because everybody needs a place to learn.
        {% endif %}
        
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
          
            span.sr-only Toggle navigation
            - var x = 3;
            - for (var i=1; i<=x; i++){
              span.icon-bar
            - }
            
        #navbar.navbar-collapse.collapse
          {% include nav.html %}
